@font-face {
    font-family: "categories";
    src: url(../common/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

@font-face {
    font-family: text_catalog;
    src: url(../common/fonts/Alumni_Sans_Pinstripe/AlumniSansPinstripe-Regular.ttf);
}


body{  
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    color: rgb(41, 12, 59); 
}

#main_catalog{
    padding: 0 0 0  70px;
}

a{
    color: rgb(121, 66, 66);
    text-decoration: none;
}

#reklama_block{
    
    max-width: 1000px;
    position: relative;
    margin: 10% 0 0 13%;

}

    .slides{
        display: none;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
      
    .active, .dot:hover {
        background-color: #717171;
    }

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
      
    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
      
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

.search{
    margin: 30px 0 30px 0;
}

    input[type="text"]{
        width: 50vw;
        height: 40px;
        font-family: text_catalog, monocpace;
        font-weight: 600;
        letter-spacing: 2px;
        font-size: 18px;
        padding-left: 10px;
    }

    input[type="submit"]{
        width: 60px;
        height: 45px;
        background-image: url(imgs/icons8-поиск-32.png);
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: 15px;
        vertical-align:top;
        border: 1px solid black;
        border-radius: 5px;
}

#categories_block{
    width: 18vw;
    float: left;
    margin: 20px 20px 0 0 ;
}

    .categories_line{
        width: auto;
        height: 35px;
        margin: 10px 0 10px 0;
        padding: 10px 0 0 20px;
        font-family: text_catalog, monospace;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 2px;
        background-color: rgb(233, 224, 224);
        cursor: pointer;
    }

    .categories_line:active{
        background-color: #717171;
    }

#product_list{
    display: inline-block;
    width: 55vw;
    background-color: rgb(233, 224, 224);
}

    .product_block{
        position: relative;
        border-radius: 5px;
        width: 300px;
        height: 450px;
        margin: 3%;
        float: left;
        background-color: rgb(235, 233, 233);
        padding-left: 20px;
    }

    .product_block:hover .button_buy{
        opacity: 1;
        transition: 0.7s;
    }
        .product_img{
            width: 180px;
            height: 180px;
            margin: 20px 0 0 40px;
        }

        .button_buy{
            width: 150px;
            height: 30px;
            position: absolute;
            top: 150px;
            left: 80px;
            border: 1px solid black;
            border-radius: 10px;
            background-color:rgb(235, 233, 233);
            font-family: text_catalog, monospace;
            font-weight: 600;
            letter-spacing: 1px;
            padding-top: 8px;
            text-align: center;
            opacity: 0;
            cursor: pointer;
        }

        .p_name, .p_info{
            font-size: 15px;
            font-family: text_catalog, monospace;
            font-weight: 600;
            margin-bottom: 5px;
        }

        .p_name{
            font-size: 20px;
        }

        .p_price{
            font-size: 20px;
            font-family: text_catalog, monospace;
            font-weight: 600;
            margin-top: 0;
            color: red;
            font-size: 25px;

        }

#reklama{

    width: 200px;
    height: 600px;
    float: right;
    position: relative;
    overflow: hidden;
    background-image: url(imgs/1win.jpg);
    background-size: contain;
    margin-right: 50px;
    cursor: pointer;
}
